body {
    margin: 0px;
}

.container{
    display: flex;
}

.side {
    width: 25%;
    background-color: rgba(0,0,0,0.7);
    transition: all 0.5s 0s ease;
    margin-bottom:9.2%;
}


.side details {
    color: rgba(240,248,255,0.7);
    transition: all 0.5s 0s ease;
}

.side:hover {
    width: 25%;
    background-color: rgba(0,0,0,0.9);
}

.side:hover details {
    color: rgba(240,248,255,0.9);
}

.side h2 {
    color: aliceblue;
}

.main {
    width: 75%;
    margin-left: 0px;
    background-color: #BB1C20;
}

summary{
    border-bottom: 1px solid aliceblue;
    width: fit-content;
    display: inline-block;
    margin-left: 23px;
    font-size: 20px;
}

.side li:hover {
    border-bottom: 1px solid aliceblue;
    width: fit-content;
}

.rogo {
    width: 100%;   
}

.syuugou {
    width: 100%; 
    margin-top:15px;
    margin-bottom: -7px;
}

h1 {
    padding-left: 5px;
    color: #ffffff;
  }
  
  h3 {
    padding-left: 5px;
    background-color: #02B1FF;
    color: #ffffff;
    font-family:'Terminal';
    border: solid 3px #0181BA;
  }
  
  th {
    font-size: 0.8em;
    background-color: #686a61;
  }
  
  td {
    background-color: #9c9f94;
  }
  
  p {
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    background-color: #eeeeee;
    border: solid 2px #CCCCCC;
  }

  table {
    border-collapse: collapse; 
    margin-left: 5px;
  }
  
  table, th, td {
    border: 1px solid #eeeeee; 
    padding: 8px; 
  }

  a {
    color: rgba(240,248,255,0.7);
    text-decoration: none;
  }

  a:hover {
    color: rgba(240,248,255,0.9);
  }